@import "tailwindcss";

@theme {
  --color-background: #f5f5f5;
  --color-foreground: #111111;
  --color-card: #f0f0f0;
  --color-card-foreground: #111111;
  --color-popover: #f1f5f9;
  --color-popover-foreground: #111111;
  --color-primary: #00cccc;
  --color-primary-foreground: #ffffff;
  --color-secondary: #4ca1af;
  --color-secondary-foreground: #ffffff;
  --color-muted: #e0e0e0;
  --color-muted-foreground: #666666;
  --color-accent: #e6f8f8;
  --color-accent-foreground: #00cccc;
  --color-destructive: #ff4d4f;
  --color-destructive-foreground: #ffffff;
  --color-border: #dddddd;
  --color-input: #ffffff;
  --color-ring: #00cccc;
  --font-sans: "Urbanist", "system-ui", "sans-serif";
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}



